# 데이터 전처리
- 물놀이 (바닥분수, 야외 물놀이장) 장소 데이터
- 점수화에 필요한 데이터
    - 생활편의시설
    - 수유실 및 어린이 이용가능 공중화장실
    - 경찰 및 소방시설
    - 의료 및 의약시설
    - 전국 주차장
    - 키즈카페
    - 어린이놀이터 및 키즈카페

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

## 물놀이 장소 데이터 전처리

In [3]:
# 물놀이 장소 데이터
WP = pd.read_csv('../../raw_data/물놀이/물놀이_스마트서울맵_geojson.csv', encoding='euc-kr')
wp = WP.copy()
wp.head()

,x,y,CCONTENTS_ID,CONTENTS_NAME,IMG_MAIN_URL,ADDR_OLD,ADDR_NEW,COORD_DATA,COORD_X,COORD_Y,...,LINE_WEIGHT,MOVIE_URL,VOICE_URL,NATION_BASE_AREA,NATION_POINT_NUMBER,LAN_TYPE,KEYWORD,SUB_ID,SUB_NAME,COT_CRTFC_YN
0,127.1222,37.5499,2023_funSmer_901,광나루 수영장,/smgis/ucimgs/conts/100765/100765_jehee221_202...,서울특별시 강동구 암사동 637-6,서울특별시 강동구 선사로 83-106,"[127.122199246,37.549900153]",127.122199,37.549900,...,4,NaN,NaN,05249,다사66625012,KOR,NaN,2,수영장,N
1,126.8328,37.5722,2023_funSmer_104,서울식물원 물놀이터,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 강서구 마곡동 812,서울특별시 강서구 마곡동로 161,"[126.83284,37.57224]",126.832840,37.572240,...,4,NaN,NaN,07789,다사41085275,KOR,NaN,1,물놀이장,N
2,127.0602,37.6471,2023_funSmer_106,사랑어린이공원,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 노원구 상계동 765,서울특별시 노원구 동일로213길 21,"[127.060231928,37.647121575]",127.060232,37.647122,...,4,NaN,NaN,01766,다사61206093,KOR,NaN,3,바닥분수,N
3,127.1575,37.5567,2023_funSmer_073,온조대왕문화체육관,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 강동구 고덕동 296,서울특별시 강동구 고덕로 285,"[127.15745,37.5567]",127.157450,37.556700,...,4,NaN,NaN,05225,다사69745087,KOR,NaN,2,수영장,N
4,126.8794,37.5641,2023_funSmer_817,난지 물놀이장분수,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 마포구 상암동 482-182,NaN,"[126.879399482,37.564058806]",126.879399,37.564059,...,4,NaN,NaN,03900,다사45195181,KOR,NaN,3,바닥분수,N

In [4]:
# 사용할 컬럼만 남기기
wp = wp[['CONTENTS_NAME', 'IMG_MAIN_URL', 'ADDR_OLD', 'ADDR_NEW', 'COORD_DATA', 'TEL_NO', 'EXTRA_DATA_02', 
              'NAME_01', 'VALUE_01', 'NAME_02', 'VALUE_02', 'NAME_03', 'VALUE_03', 'NAME_04', 'VALUE_04', 
              'NAME_05', 'VALUE_05', 'NAME_06', 'VALUE_06', 'NAME_07', 'VALUE_07', 'SUB_ID', 'SUB_NAME']]

In [5]:
# 수영장 - 한강 야외 수영장 4군데만 남기기

temp_list = ['광나루 수영장', '여의도 수영장', '잠원 수영장', '뚝섬 수영장']
empty_list = []

temp_df = wp[wp.SUB_NAME == '수영장']

# temp_df

for i in range(len(temp_df)):
    if temp_df.iloc[i].CONTENTS_NAME in temp_list:
        empty_list.append(temp_df.iloc[i])
        
temp_df = pd.DataFrame(empty_list)
temp_df

,CONTENTS_NAME,IMG_MAIN_URL,ADDR_OLD,ADDR_NEW,COORD_DATA,TEL_NO,EXTRA_DATA_02,NAME_01,VALUE_01,NAME_02,...,NAME_04,VALUE_04,NAME_05,VALUE_05,NAME_06,VALUE_06,NAME_07,VALUE_07,SUB_ID,SUB_NAME
0,광나루 수영장,/smgis/ucimgs/conts/100765/100765_jehee221_202...,서울특별시 강동구 암사동 637-6,서울특별시 강동구 선사로 83-106,"[127.122199246,37.549900153]",02-470-9561,https://hangang.seoul.go.kr/archives/46886,이용시간,가. 허용기간 : 2023.6.23.(금)~8.20.(일)\n나. 허용시간 : 09...,이용안내,...,준비물,"- 그늘막 텐트(뚝섬:간이텐트만 가능, 여의도, 잠원, 난지 가능)\n- 돗자리, ...",주의,"너무 많은 짐을 가져오시면 재미있게 즐기실 수 없습니다. \n유리병, 과도, 주류는...",NaN,NaN,NaN,NaN,2,수영장
23,뚝섬 수영장,/smgis/ucimgs/conts/100765/100765_jehee221_202...,서울특별시 광진구 자양동 112,NaN,"[127.067734429,37.52967368]",02-452-5955,https://hangang.seoul.go.kr/archives/46886,이용시간,가. 허용기간 : 2023.6.23.(금)~8.20.(일)\n나. 허용시간 : 09...,이용안내,...,준비물,"- 그늘막 텐트(뚝섬:간이텐트만 가능, 여의도, 잠원, 난지 가능)\n- 돗자리, ...",주의,"너무 많은 짐을 가져오시면 재미있게 즐기실 수 없습니다. \n유리병, 과도, 주류는...",NaN,NaN,NaN,NaN,2,수영장
49,여의도 수영장,/smgis/ucimgs/conts/100765/100765_jehee221_202...,서울특별시 영등포구 여의도동 82-9,NaN,"[126.920202606,37.533487633]",02-785-0478,https://hangang.seoul.go.kr/archives/46886,이용시간,가. 허용기간 : 2023.6.23.(금)~8.20.(일)\n나. 허용시간 : 09...,이용안내,...,준비물,"- 그늘막 텐트(뚝섬:간이텐트만 가능, 여의도, 잠원, 난지 가능)\n- 돗자리, ...",주의,"너무 많은 짐을 가져오시면 재미있게 즐기실 수 없습니다. \n유리병, 과도, 주류는...",NaN,NaN,NaN,NaN,2,수영장
124,잠원 수영장,/smgis/ucimgs/conts/100765/100765_jehee221_202...,서울특별시 서초구 잠원동 121,서울특별시 서초구 잠원로 221-124,"[127.012344,37.520813]",02-536-8263,https://hangang.seoul.go.kr/archives/46886,이용시간,가. 허용기간 : 2023.6.23.(금)~8.20.(일)\n나. 허용시간 : 09...,이용안내,...,준비물,"- 그늘막 텐트(뚝섬:간이텐트만 가능, 여의도, 잠원, 난지 가능)\n- 돗자리, ...",주의,"너무 많은 짐을 가져오시면 재미있게 즐기실 수 없습니다. \n유리병, 과도, 주류는...",NaN,NaN,NaN,NaN,2,수영장

In [6]:
# 바닥분수, 물놀이장, 한강야외수영장 -> 총 140개 남기기

wp = wp[(wp.SUB_NAME == '바닥분수') | (wp.SUB_NAME == '물놀이장')]

wp = pd.concat([wp, temp_df], axis=0)

wp.head()

,CONTENTS_NAME,IMG_MAIN_URL,ADDR_OLD,ADDR_NEW,COORD_DATA,TEL_NO,EXTRA_DATA_02,NAME_01,VALUE_01,NAME_02,...,NAME_04,VALUE_04,NAME_05,VALUE_05,NAME_06,VALUE_06,NAME_07,VALUE_07,SUB_ID,SUB_NAME
1,서울식물원 물놀이터,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 강서구 마곡동 812,서울특별시 강서구 마곡동로 161,"[126.83284,37.57224]",02-2104-9738,seoul.go.kr,운영기간,2022.7.01.(토)~8.31.(목),운영시간,...,이용안내,1. 물놀이터는 호수원 수변가로에서 위치하고 있습니다.\r\n2.발열또는호흡기 증상...,소개,"최대 수심 25cm, 형형색색의 분수가 뿜어내는 물을 맞으며 시원한 여름을 함께하세요.",NaN,NaN,NaN,NaN,1,물놀이장
2,사랑어린이공원,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 노원구 상계동 765,서울특별시 노원구 동일로213길 21,"[127.060231928,37.647121575]",02-2116-3975,NaN,운영기간,2023. 5.8. ~ 8.31.,운영시간,...,이용안내,"매일 이용가능\r\n단, 우천시 운영중단합니다.",소개,공원에서 물벼락 맞으며 시원하게 여름을 나봐요,NaN,NaN,NaN,NaN,3,바닥분수
4,난지 물놀이장분수,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 마포구 상암동 482-182,NaN,"[126.879399482,37.564058806]",NaN,https://hangang.seoul.go.kr/www/contents/858.d...,이용기간,7~8월,운영시간,...,이용방법,현장방문,이용료,무료,시설(이용)안내,난지 강변물놀이장에 위치\r\n강변물놀이장 개장시 운영\r\n다양한 장르의 음악(1...,연락처,난지안내센터 02-3780-0611~3\r\n기반시설과 02-3780-0652,3,바닥분수
5,복사꽃어린이공원,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 마포구 도화동 533,서울특별시 마포구 마포대로4길 11-2,"[126.946286307,37.539013735]",02-3153-9576,NaN,운영기간,2023. 5. 1.(월) ~ 9. 27.(수),운영시간,...,소개,복사꽃어린이공원 내 바닥분수,NaN,NaN,NaN,NaN,NaN,NaN,3,바닥분수
6,거리공원 바닥분수,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 구로구 구로동 50,서울특별시 구로구 공원로 73-1,"[126.88869513,37.503192585]",02-860-3162,www.guro.go.kr,운영기간,2023.6.5.(월)~8.31.(목),운영시간,...,이용안내,전연령대 무료 이용,소개,도심 공원 내 바닥분수를 조성하여 가족들이 함께 물놀이를 체험할 수 있는 장소를 제...,NaN,NaN,NaN,NaN,3,바닥분수

### 위도, 경도 분리 후 파생변수 따로 생성

In [7]:
la, lo = [], []

for i in wp.COORD_DATA:
    i = i.replace('[', '')
    i = i.replace(']', '')
    x, y = i.split(',')
    lo.append(x)
    la.append(y)
    
wp['LA'] = la
wp['LO'] = lo

wp.drop(columns=['COORD_DATA'], axis=1, inplace=True)

wp.head()

,CONTENTS_NAME,IMG_MAIN_URL,ADDR_OLD,ADDR_NEW,TEL_NO,EXTRA_DATA_02,NAME_01,VALUE_01,NAME_02,VALUE_02,...,NAME_05,VALUE_05,NAME_06,VALUE_06,NAME_07,VALUE_07,SUB_ID,SUB_NAME,LA,LO
1,서울식물원 물놀이터,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 강서구 마곡동 812,서울특별시 강서구 마곡동로 161,02-2104-9738,seoul.go.kr,운영기간,2022.7.01.(토)~8.31.(목),운영시간,(매일)11:00~16:40/하루 5회(매회 40분씩)\r\n휴무일 : 매주 월요일...,...,소개,"최대 수심 25cm, 형형색색의 분수가 뿜어내는 물을 맞으며 시원한 여름을 함께하세요.",NaN,NaN,NaN,NaN,1,물놀이장,37.57224,126.83284
2,사랑어린이공원,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 노원구 상계동 765,서울특별시 노원구 동일로213길 21,02-2116-3975,NaN,운영기간,2023. 5.8. ~ 8.31.,운영시간,"12:00 ~ 16:40 (40분가동, 20분 휴동)",...,소개,공원에서 물벼락 맞으며 시원하게 여름을 나봐요,NaN,NaN,NaN,NaN,3,바닥분수,37.647121575,127.060231928
4,난지 물놀이장분수,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 마포구 상암동 482-182,NaN,NaN,https://hangang.seoul.go.kr/www/contents/858.d...,이용기간,7~8월,운영시간,매회 20분. 월요일은 가동 정지\r\n12:00 ~ 18:00 (매 시간 정각 가동),...,이용료,무료,시설(이용)안내,난지 강변물놀이장에 위치\r\n강변물놀이장 개장시 운영\r\n다양한 장르의 음악(1...,연락처,난지안내센터 02-3780-0611~3\r\n기반시설과 02-3780-0652,3,바닥분수,37.564058806,126.879399482
5,복사꽃어린이공원,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 마포구 도화동 533,서울특별시 마포구 마포대로4길 11-2,02-3153-9576,NaN,운영기간,2023. 5. 1.(월) ~ 9. 27.(수),운영시간,10:00~18:00 \r\n -1일 7~8회(회당 40분 가동),...,NaN,NaN,NaN,NaN,NaN,NaN,3,바닥분수,37.539013735,126.946286307
6,거리공원 바닥분수,/smgis2/file/ucimgs/conts/100765/2023_funSmer_...,서울특별시 구로구 구로동 50,서울특별시 구로구 공원로 73-1,02-860-3162,www.guro.go.kr,운영기간,2023.6.5.(월)~8.31.(목),운영시간,"(매일)12:00, 13:00, 16:00, 17:00 / 하루 4회(매회 30분씩)",...,소개,도심 공원 내 바닥분수를 조성하여 가족들이 함께 물놀이를 체험할 수 있는 장소를 제...,NaN,NaN,NaN,NaN,3,바닥분수,37.503192585,126.88869513

### 열 이름 변경

In [8]:
wp.columns

Index(['CONTENTS_NAME', 'IMG_MAIN_URL', 'ADDR_OLD', 'ADDR_NEW', 'TEL_NO',
       'EXTRA_DATA_02', 'NAME_01', 'VALUE_01', 'NAME_02', 'VALUE_02',
       'NAME_03', 'VALUE_03', 'NAME_04', 'VALUE_04', 'NAME_05', 'VALUE_05',
       'NAME_06', 'VALUE_06', 'NAME_07', 'VALUE_07', 'SUB_ID', 'SUB_NAME',
       'LA', 'LO'],
      dtype='object')

In [9]:
wp.columns = [
    'waterplayname',
    'waterplayimgurl',
    'waterplayaddrold',
    'waterplayaddrnew',
    'waterplaytelno',
    'waterplayurl',
    'waterplayname01',
    'waterplayvalue01',
    'waterplayname02',
    'waterplayvalue02',
    'waterplayname03',
    'waterplayvalue03',
    'waterplayname04',
    'waterplayvalue04',
    'waterplayname05',
    'waterplayvalue05',
    'waterplayname06',
    'waterplayvalue06',
    'waterplayname07',
    'waterplayvalue07',
    'waterplaytypeid',
    'waterplaytype',
    'waterplayla',
    'waterplaylo',
]

In [10]:
wp.columns

Index(['waterplayname', 'waterplayimgurl', 'waterplayaddrold',
       'waterplayaddrnew', 'waterplaytelno', 'waterplayurl', 'waterplayname01',
       'waterplayvalue01', 'waterplayname02', 'waterplayvalue02',
       'waterplayname03', 'waterplayvalue03', 'waterplayname04',
       'waterplayvalue04', 'waterplayname05', 'waterplayvalue05',
       'waterplayname06', 'waterplayvalue06', 'waterplayname07',
       'waterplayvalue07', 'waterplaytypeid', 'waterplaytype', 'waterplayla',
       'waterplaylo'],
      dtype='object')

In [11]:
# 1차 전처리 완료된 파일 저장

wp.to_csv('../../data/물놀이/WP.csv', index=False, encoding='utf-8')
wp.to_csv('../../data/물놀이/WP_euc.csv', index=False, encoding='euc-kr')

## 수유실 및 어린이 이용가능 공중화장실 데이터 전처리

In [12]:
# 화장실 데이터
TOILET = pd.read_csv('../../raw_data/수유실및어린이이용가능공중화장실.csv')
toilet = TOILET.copy()
toilet.head()

,ESNTL_ID,LCLAS_NM,MLSFC_NM,FCLTY_NM,CTPRVN_CD,CTPRVN_NM,SIGNGU_CD,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,...,MALE_CHILD_UIL_CO,FEMALE_WTRCLS_CO,FEMALE_DSPSN_WTRCLS_CO,FEMALE_CHILD_WTRCLS_CO,MANAGE_OFFM_NM,USE_TIME_CN,INSTL_DE,NRSGRM_AT,UPDT_DT,REGIST_DT
0,KCKIFPO22N000000001,편의시설,편의시설_화장실,인왕산 청운지구(1)(서시정 화장실),11.0,서울특별시,11110.0,종로구,1.111010e+09,청운동,...,0.0,3.0,1.0,1.0,종로구청 공원녹지과,24시간,NaN,N,20230201,20230201
1,KCKIFPO22N000000002,편의시설,편의시설_화장실,인왕산 청운지구(2)(청운공원 화장실),11.0,서울특별시,11110.0,종로구,1.111010e+09,청운동,...,0.0,5.0,1.0,1.0,종로구청 공원녹지과,24시간,NaN,N,20230201,20230201
2,KCKIFPO22N000000003,편의시설,편의시설_화장실,창의문안내소 공중화장실(창의문 안내소 앞),11.0,서울특별시,11110.0,종로구,NaN,NaN,...,0.0,7.0,1.0,0.0,종로구청 공원녹지과,24시간,NaN,N,20230201,20230201
3,KCKIFPO22N000000004,편의시설,편의시설_화장실,삼청근린공원(관리실 옆),11.0,서울특별시,11110.0,종로구,1.111014e+09,삼청동,...,0.0,7.0,1.0,0.0,종로구청 공원녹지과,24시간,NaN,N,20230201,20230201
4,KCKIFPO22N000000005,편의시설,편의시설_화장실,삼청근린공원(약수터 위),11.0,서울특별시,11110.0,종로구,1.111014e+09,삼청동,...,0.0,4.0,1.0,0.0,종로구청 공원녹지과,24시간,NaN,N,20230201,20230201

In [13]:
toilet = toilet[[
    'ESNTL_ID',
    'MLSFC_NM',
    'FCLTY_NM',
    'CTPRVN_NM',
    'SIGNGU_NM',
    'LEGALDONG_CD',
    'LEGALDONG_NM',
    'FCLTY_ROAD_NM_ADDR',
    'LNM_ADDR',
    'FCLTY_LA',
    'FCLTY_LO',
    'ADIT_DC',
]]

In [14]:
# 서울특별시로 필터링
toilet = toilet[toilet['CTPRVN_NM']=='서울특별시']

# 위도 경도에 대해 결측값 제거
toilet.dropna(subset=['FCLTY_LA','FCLTY_LO'], inplace=True)

# 'ADIT_DC' 열이 NA인 경우 수유실로 채우기
toilet['ADIT_DC'] = toilet['ADIT_DC'].fillna('수유실')
toilet.drop('MLSFC_NM', axis=1, inplace=True)

toilet

,ESNTL_ID,FCLTY_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,FCLTY_ROAD_NM_ADDR,LNM_ADDR,FCLTY_LA,FCLTY_LO,ADIT_DC
0,KCKIFPO22N000000001,인왕산 청운지구(1)(서시정 화장실),서울특별시,종로구,1.111010e+09,청운동,서울특별시 종로구 청운동 7-2,서울 종로구 청운동 7-2,37.591197,126.966182,공중화장실
1,KCKIFPO22N000000002,인왕산 청운지구(2)(청운공원 화장실),서울특별시,종로구,1.111010e+09,청운동,서울특별시 종로구 청운동 7-3,서울 종로구 청운동 7-3,37.591030,126.966268,공중화장실
3,KCKIFPO22N000000004,삼청근린공원(관리실 옆),서울특별시,종로구,1.111014e+09,삼청동,서울특별시 종로구 북촌로 134-1(삼청동),서울특별시 종로구 삼청동 산2-1,37.587699,126.983451,공중화장실
4,KCKIFPO22N000000005,삼청근린공원(약수터 위),서울특별시,종로구,1.111014e+09,삼청동,서울특별시 종로구 북촌로 134-1(삼청동),서울특별시 종로구 삼청동 산2-1,37.587699,126.983451,공중화장실
5,KCKIFPO22N000000006,와룡공원,서울특별시,종로구,1.111017e+09,명륜3가,서울특별시 종로구 명륜9길 11-6(명륜3가),서울특별시 종로구 명륜3가 산2-13,37.591340,126.993312,공중화장실
...,...,...,...,...,...,...,...,...,...,...,...
7209,KCKIFPO22N000007210,서울교통공사미사역,서울특별시,강동구,NaN,NaN,서울특별시 강동구 아리수로87길 32(고덕동),서울특별시 강동구 고덕동 698 지하철5호선 고덕차량기지,37.566385,127.168685,수유실
7210,KCKIFPO22N000007211,월계어린이도서관,서울특별시,노원구,NaN,NaN,서울특별시 노원구 월계로42길 9(월계동),서울특별시 노원구 월계동 936 월계문화복지센터,37.624264,127.050794,수유실
7225,KCKIFPO22N000007226,경기대학교,서울특별시,서대문구,NaN,NaN,서울특별시 서대문구 경기대로9길 24(충정로2가),서울특별시 서대문구 충정로2가 67-9 경기대학교,37.565196,126.962123,수유실
7233,KCKIFPO22N000007234,서울교통공사5호선강일역,서울특별시,강동구,1.174010e+09,상일동,서울특별시 강동구 고덕로 지하456(상일동),서울특별시 강동구 상일동 산73 강일역,37.557527,127.175938,수유실
7245,KCKIFPO22N000007246,금천구육아종합지원센터아이세상놀이터(독산점),서울특별시,금천구,1.154510e+09,독산동,서울특별시 금천구 두산로 70(독산동),서울특별시 금천구 독산동 291-1 현대지식산업센터,37.468963,126.895621,수유실

### 열 이름 변경

In [15]:
toilet.columns

Index(['ESNTL_ID', 'FCLTY_NM', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_CD',
       'LEGALDONG_NM', 'FCLTY_ROAD_NM_ADDR', 'LNM_ADDR', 'FCLTY_LA',
       'FCLTY_LO', 'ADIT_DC'],
      dtype='object')

In [16]:
toilet.columns = [
    'toiletid',
    'toiletname',
    'toiletsido',
    'toiletsigngu',
    'toiletdongcode',
    'toiletdong',
    'toiletaddrnew',
    'toiletaddrold',
    'toiletla',
    'toiletlo',
    'toilettype',
]

In [17]:
toilet.columns

Index(['toiletid', 'toiletname', 'toiletsido', 'toiletsigngu',
       'toiletdongcode', 'toiletdong', 'toiletaddrnew', 'toiletaddrold',
       'toiletla', 'toiletlo', 'toilettype'],
      dtype='object')

In [18]:
toilet.to_csv('../../data/물놀이/Toilet.csv', index=False, encoding='utf-8')
toilet.to_csv('../../data/물놀이/Toilet_euc.csv', index=False, encoding='euc-kr')

## 생활편의시설 전처리

In [19]:
# 생활편의시설 데이터
CONV = pd.read_csv('../../raw_data/생활편의시설.csv')
conv = CONV.copy()
conv.head()

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCDLCPO22N000000001,장소,기타문화공간,8544725,신한은행365,NaN,NaN,40119,신한은행365,4.275030e+18,...,4.275030e+11,중앙1로,59,128.465218,37.186644,라사856101,20220809,KT,KC_492_DMSTC_MCST_LVLH_CVNTL_2022,20220809
1,KCDLCPO22N000000002,장소,기타문화공간,8545144,신한은행365,NaN,NaN,40119,신한은행365,4.719010e+18,...,4.719020e+11,산호대로,213,128.384945,36.102714,라마796898,20220809,KT,KC_492_DMSTC_MCST_LVLH_CVNTL_2022,20220809
2,KCDLCPO22N000000003,장소,기타문화공간,8545337,신한은행365,NaN,NaN,40119,신한은행365,4.128710e+18,...,4.128730e+11,주엽로,102,126.756278,37.668107,다사344634,20220809,KT,KC_492_DMSTC_MCST_LVLH_CVNTL_2022,20220809
3,KCDLCPO22N000000004,장소,기타문화공간,8545460,신한은행365,NaN,NaN,40119,신한은행365,4.157010e+18,...,4.157030e+11,감암로,11,126.710713,37.632310,다사303594,20220809,KT,KC_492_DMSTC_MCST_LVLH_CVNTL_2022,20220809
4,KCDLCPO22N000000005,장소,기타문화공간,8545872,신한은행365,NaN,NaN,40119,신한은행365,3.120010e+18,...,3.120030e+11,산업로,1103,129.355758,35.592886,마마681345,20220809,KT,KC_492_DMSTC_MCST_LVLH_CVNTL_2022,20220809

In [20]:
# 서울특별시로 필터링
conv = conv[conv['CTPRVN_NM']=='서울특별시']

In [21]:
conv = conv[[
    'ID',
    'POI_NM',
    'CL_NM',
    'CTPRVN_NM',
    'SIGNGU_NM',
    'LEGALDONG_NM',
    'LEGALDONG_CD',
    'LC_LO',
    'LC_LA',
]]

conv

,ID,POI_NM,CL_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LEGALDONG_CD,LC_LO,LC_LA
8,KCDLCPO22N000000009,신한은행365,신한은행365,서울특별시,강남구,대치동,1168010600,127.061361,37.498553
9,KCDLCPO22N000000010,신한은행365,신한은행365,서울특별시,송파구,잠실동,1171010100,127.099395,37.512262
10,KCDLCPO22N000000011,신한은행365,신한은행365,서울특별시,송파구,잠실동,1171010100,127.082570,37.511436
11,KCDLCPO22N000000012,신한은행365,신한은행365,서울특별시,강남구,역삼동,1168010100,127.025322,37.503718
12,KCDLCPO22N000000013,신한은행365,신한은행365,서울특별시,영등포구,문래동3가,1156012100,126.898880,37.519068
...,...,...,...,...,...,...,...,...,...
155816,KCDLCPO22N000155817,미니스톱,미니스톱,서울특별시,관악구,신림동,1162010200,126.914848,37.487035
155818,KCDLCPO22N000155819,미니스톱,미니스톱,서울특별시,강남구,신사동,1168010700,127.019887,37.518599
155821,KCDLCPO22N000155822,데자뷰,화장품매장,서울특별시,용산구,동자동,1117010700,126.970825,37.554644
155824,KCDLCPO22N000155825,더샘,화장품매장,서울특별시,양천구,목동,1147010200,126.876009,37.529144
155833,KCDLCPO22N000155834,베르두,화장품매장,서울특별시,송파구,신천동,1171010200,127.104076,37.513744

In [22]:
conv.info()
# 결측값 없음

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30732 entries, 8 to 155833
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            30732 non-null  object
 1   POI_NM        30732 non-null  object
 2   CL_NM         30732 non-null  object
 3   CTPRVN_NM     30732 non-null  object
 4   SIGNGU_NM     30732 non-null  object
 5   LEGALDONG_NM  30732 non-null  object
 6   LEGALDONG_CD  30732 non-null  int64
 7   LC_LO         30732 non-null  float64
 8   LC_LA         30732 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 2.3+ MB

In [23]:
conv['CL_NM'].value_counts()

세탁소/빨래방       7678
화장실           3787
GS25          3055
CU            2736
화장품매장         2608
세븐일레븐         1894
IBK기업은행365    1110
사우나/목욕탕       1054
이마트24          882
찜질방            672
우리은행365        645
KB국민은행365      587
신한은행365        576
KEB하나은행365     530
승강기            362
CJ올리브영         351
미니스톱           349
새마을금고365       321
NH농협은행365      223
다이소            222
우체국            204
우편취급소          200
우체국365         186
SC제일은행365      182
신협365           68
SH수협은행365       67
한국씨티은행365       59
CSPACE          49
랄라블라            30
롭스              16
ATM기타           15
대중교통환승센터        10
BNK경남은행365       2
전북은행365          1
제주은행365          1
Name: CL_NM, dtype: int64

In [24]:
conv_clnm_columns = [
    '다이소',
    '랄라블라',
    '롭스',
    '미니스톱',
    '세븐일레븐',
    '이마트24',
    'CJ올리브영',
    'CSPACE',
    'CU',
    'GS25',
]

In [25]:
idx_row_list = []

for i, cl_nm in enumerate(conv['CL_NM']):
    if cl_nm in conv_clnm_columns:
        idx_row_list.append(i)
        
conv = conv.iloc[idx_row_list, :]
conv

,ID,POI_NM,CL_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LEGALDONG_CD,LC_LO,LC_LA
375,KCDLCPO22N000000376,CU,CU,서울특별시,강남구,역삼동,1168010100,127.042389,37.500962
378,KCDLCPO22N000000379,CU,CU,서울특별시,영등포구,여의도동,1156011000,126.940252,37.519828
379,KCDLCPO22N000000380,CU,CU,서울특별시,강남구,역삼동,1168010100,127.043051,37.498726
381,KCDLCPO22N000000382,CU,CU,서울특별시,강남구,대치동,1168010600,127.060873,37.498362
399,KCDLCPO22N000000400,CU,CU,서울특별시,강남구,역삼동,1168010100,127.034929,37.491247
...,...,...,...,...,...,...,...,...,...
155803,KCDLCPO22N000155804,세븐일레븐,세븐일레븐,서울특별시,관악구,신림동,1162010200,126.910923,37.485332
155807,KCDLCPO22N000155808,올리브영,CJ올리브영,서울특별시,성북구,안암동5가,1129012500,127.029234,37.584805
155815,KCDLCPO22N000155816,미니스톱,미니스톱,서울특별시,노원구,상계동,1135010500,127.056498,37.675337
155816,KCDLCPO22N000155817,미니스톱,미니스톱,서울특별시,관악구,신림동,1162010200,126.914848,37.487035
155818,KCDLCPO22N000155819,미니스톱,미니스톱,서울특별시,강남구,신사동,1168010700,127.019887,37.518599

In [26]:
conv_clnm_dict = {
    '다이소' : '다이소',
    '랄라블라' : '드럭스토어',
    '롭스' : '드럭스토어',
    '미니스톱' : '편의점',
    '세븐일레븐' : '편의점',
    '이마트24' : '편의점',
    'CJ올리브영' : '드럭스토어',
    'CSPACE' : '편의점',
    'CU' : '편의점',
    'GS25' : '편의점',
}

In [27]:
conv['CL_NM_CTG'] = conv['CL_NM'].replace(conv_clnm_dict)
conv

,ID,POI_NM,CL_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LEGALDONG_CD,LC_LO,LC_LA,CL_NM_CTG
375,KCDLCPO22N000000376,CU,CU,서울특별시,강남구,역삼동,1168010100,127.042389,37.500962,편의점
378,KCDLCPO22N000000379,CU,CU,서울특별시,영등포구,여의도동,1156011000,126.940252,37.519828,편의점
379,KCDLCPO22N000000380,CU,CU,서울특별시,강남구,역삼동,1168010100,127.043051,37.498726,편의점
381,KCDLCPO22N000000382,CU,CU,서울특별시,강남구,대치동,1168010600,127.060873,37.498362,편의점
399,KCDLCPO22N000000400,CU,CU,서울특별시,강남구,역삼동,1168010100,127.034929,37.491247,편의점
...,...,...,...,...,...,...,...,...,...,...
155803,KCDLCPO22N000155804,세븐일레븐,세븐일레븐,서울특별시,관악구,신림동,1162010200,126.910923,37.485332,편의점
155807,KCDLCPO22N000155808,올리브영,CJ올리브영,서울특별시,성북구,안암동5가,1129012500,127.029234,37.584805,드럭스토어
155815,KCDLCPO22N000155816,미니스톱,미니스톱,서울특별시,노원구,상계동,1135010500,127.056498,37.675337,편의점
155816,KCDLCPO22N000155817,미니스톱,미니스톱,서울특별시,관악구,신림동,1162010200,126.914848,37.487035,편의점
155818,KCDLCPO22N000155819,미니스톱,미니스톱,서울특별시,강남구,신사동,1168010700,127.019887,37.518599,편의점

In [28]:
conv.drop(['CL_NM'], axis=1, inplace=True)

### 열 이름 변경

In [29]:
conv.columns

Index(['ID', 'POI_NM', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_NM',
       'LEGALDONG_CD', 'LC_LO', 'LC_LA', 'CL_NM_CTG'],
      dtype='object')

In [30]:
conv.columns = [
    'convid',
    'convname',
    'convsido',
    'convsigngu',
    'convdong',
    'convdongcode',
    'convlo',
    'convla',
    'convtype',
]

In [31]:
conv.columns

Index(['convid', 'convname', 'convsido', 'convsigngu', 'convdong',
       'convdongcode', 'convlo', 'convla', 'convtype'],
      dtype='object')

In [32]:
conv.to_csv('../../data/물놀이/Conv.csv', index=False, encoding='utf-8')
conv.to_csv('../../data/물놀이/Conv_euc.csv', index=False, encoding='euc-kr')

## 의료및의약시설 데이터 전처리

In [33]:
# 의료및의약시설 데이터
MEDI = pd.read_csv('../../raw_data/의료및의약시설.csv')
medi = MEDI.copy()
medi.head()

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCDMMPO22N000000001,장소,의료/의약시설,8218903,쥬네브고려외과,NaN,NaN,30209,외과/흉부외과/신경외과,4.146310e+18,...,4.146320e+11,동백죽전대로,444,127.151576,37.277892,다사691199,20220809,KT,KC_494_DMSTC_MCST_MDLC_2022,20220809
1,KCDMMPO22N000000002,장소,의료/의약시설,10229658,양승열신경외과,NaN,NaN,30209,외과/흉부외과/신경외과,2.617010e+18,...,2.617020e+11,중앙대로,521-1,129.056236,35.139830,마라417838,20220809,KT,KC_494_DMSTC_MCST_MDLC_2022,20220809
2,KCDMMPO22N000000003,장소,의료/의약시설,14036358,서울외과의원,NaN,NaN,30209,외과/흉부외과/신경외과,4.213010e+18,...,4.213030e+11,원일로,169,127.945911,37.353123,라사394283,20220809,KT,KC_494_DMSTC_MCST_MDLC_2022,20220809
3,KCDMMPO22N000000004,장소,의료/의약시설,14123415,중앙외과의원,NaN,NaN,30209,외과/흉부외과/신경외과,4.283030e+18,...,4.283030e+11,양양로,48,128.623673,38.076203,라아985090,20220809,KT,KC_494_DMSTC_MCST_MDLC_2022,20220809
4,KCDMMPO22N000000005,장소,의료/의약시설,14675805,현대외과의원,NaN,NaN,30209,외과/흉부외과/신경외과,4.623030e+18,...,4.623030e+11,칠성로,Jan-60,127.585144,34.978704,라라077648,20220809,KT,KC_494_DMSTC_MCST_MDLC_2022,20220809

In [34]:
medi = medi[[
    'ID',
    'POI_NM',
    'CL_NM',
    'CTPRVN_NM',
    'SIGNGU_NM',
    'LEGALDONG_NM',
    'LEGALDONG_CD',
    'LC_LO',
    'LC_LA',
]]

In [35]:
medi

,ID,POI_NM,CL_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LEGALDONG_CD,LC_LO,LC_LA
0,KCDMMPO22N000000001,쥬네브고려외과,외과/흉부외과/신경외과,경기도,용인시 기흥구,중동,4146311600,127.151576,37.277892
1,KCDMMPO22N000000002,양승열신경외과,외과/흉부외과/신경외과,부산광역시,동구,범일동,2617010400,129.056236,35.139830
2,KCDMMPO22N000000003,서울외과의원,외과/흉부외과/신경외과,강원도,원주시,학성동,4213010900,127.945911,37.353123
3,KCDMMPO22N000000004,중앙외과의원,외과/흉부외과/신경외과,강원도,양양군,양양읍,4283025021,128.623673,38.076203
4,KCDMMPO22N000000005,현대외과의원,외과/흉부외과/신경외과,전라남도,광양시,광양읍,4623025023,127.585144,34.978704
...,...,...,...,...,...,...,...,...,...
182110,KCDMMPO22N000182111,늘푸른한의원,한의원,충청남도,천안시 서북구,성정동,4413310200,127.133519,36.828886
182111,KCDMMPO22N000182112,경희태강한의원,한의원,서울특별시,송파구,오금동,1171011200,127.126737,37.508718
182112,KCDMMPO22N000182113,형강한의원,한의원,서울특별시,강동구,성내동,1174010800,127.133981,37.526615
182113,KCDMMPO22N000182114,병점경희한의원,한의원,경기도,화성시,병점동,4159011700,127.034285,37.207004
182114,KCDMMPO22N000182115,남산한의원,한의원,경기도,용인시 기흥구,고매동,4146310800,127.108324,37.231376

In [36]:
# 서울특별시로 필터링
medi = medi[medi['CTPRVN_NM'] == '서울특별시']

In [37]:
medi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40383 entries, 8 to 182112
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            40383 non-null  object
 1   POI_NM        40383 non-null  object
 2   CL_NM         40383 non-null  object
 3   CTPRVN_NM     40383 non-null  object
 4   SIGNGU_NM     40383 non-null  object
 5   LEGALDONG_NM  40383 non-null  object
 6   LEGALDONG_CD  40383 non-null  int64
 7   LC_LO         40383 non-null  float64
 8   LC_LA         40383 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 3.1+ MB

In [38]:
medi_clnm_columns = [
    '(초대형)한방종합병원',
    '가정의학과',
    '대학병원',
    '대형한방병원',
    '메디팜약국',
    '방사선과',
    '비뇨기과',
    '산부인과',
    '성형외과',
    '소아과',
    '안과',
    '온누리약국',
    '옵티마약국',
    '외과/흉부외과/신경외과',
    '이비인후과',
    '일반병원',
    '일반약국',
    '일반의원',
    '재활의학과',
    '전문병원',
    '정형외과',
    '종합병원',
    '치과',
    '피부과',
    '한약국/한약방',
    '한의원',
]

In [39]:
idx_row_list = []

for i, cl_nm in enumerate(medi['CL_NM']):
    if cl_nm in medi_clnm_columns:
        idx_row_list.append(i)
        
medi = medi.iloc[idx_row_list, :]
medi

,ID,POI_NM,CL_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LEGALDONG_CD,LC_LO,LC_LA
8,KCDMMPO22N000000009,나디연세외과의원,외과/흉부외과/신경외과,서울특별시,마포구,성산동,1144012500,126.909810,37.567015
10,KCDMMPO22N000000011,대항외과의원,외과/흉부외과/신경외과,서울특별시,노원구,상계동,1135010500,127.063067,37.654556
78,KCDMMPO22N000000079,예루살렘정형외과,정형외과,서울특별시,서초구,양재동,1165010200,127.036478,37.483442
83,KCDMMPO22N000000084,연세정형외과의원,정형외과,서울특별시,강동구,천호동,1174010900,127.122806,37.539170
88,KCDMMPO22N000000089,삼성정형외과,정형외과,서울특별시,강남구,청담동,1168010400,127.044728,37.518101
...,...,...,...,...,...,...,...,...,...
182098,KCDMMPO22N000182099,더행복한치과의원,치과,서울특별시,강서구,염창동,1150010100,126.875242,37.549839
182099,KCDMMPO22N000182100,열린치과의원,치과,서울특별시,도봉구,방학동,1132010600,127.034753,37.668047
182105,KCDMMPO22N000182106,자연과한의원,한의원,서울특별시,강동구,성내동,1174010800,127.123783,37.538048
182111,KCDMMPO22N000182112,경희태강한의원,한의원,서울특별시,송파구,오금동,1171011200,127.126737,37.508718
182112,KCDMMPO22N000182113,형강한의원,한의원,서울특별시,강동구,성내동,1174010800,127.133981,37.526615

In [40]:
medi_clnm_dict = {
    '(초대형)한방종합병원' : '병원',
    '가정의학과' : '병원',
    '대학병원' : '병원',
    '대형한방병원' : '병원',
    '메디팜약국' : '약국',
    '방사선과' : '병원',
    '비뇨기과' : '병원',
    '산부인과' : '병원',
    '성형외과' : '병원',
    '소아과' : '병원',
    '안과' : '병원',
    '온누리약국' : '약국',
    '옵티마약국' : '약국',
    '외과/흉부외과/신경외과' : '병원',
    '이비인후과' : '병원',
    '일반병원' : '병원',
    '일반약국' : '약국',
    '일반의원' : '병원',
    '재활의학과' : '병원',
    '전문병원' : '병원',
    '정형외과' : '병원',
    '종합병원' : '병원',
    '치과' : '병원',
    '피부과' : '병원',
    '한약국/한약방' : '병원',
    '한의원' : '병원',
}

In [41]:
medi['CL_NM_CTG'] = medi['CL_NM'].replace(medi_clnm_dict)
medi

,ID,POI_NM,CL_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LEGALDONG_CD,LC_LO,LC_LA,CL_NM_CTG
8,KCDMMPO22N000000009,나디연세외과의원,외과/흉부외과/신경외과,서울특별시,마포구,성산동,1144012500,126.909810,37.567015,병원
10,KCDMMPO22N000000011,대항외과의원,외과/흉부외과/신경외과,서울특별시,노원구,상계동,1135010500,127.063067,37.654556,병원
78,KCDMMPO22N000000079,예루살렘정형외과,정형외과,서울특별시,서초구,양재동,1165010200,127.036478,37.483442,병원
83,KCDMMPO22N000000084,연세정형외과의원,정형외과,서울특별시,강동구,천호동,1174010900,127.122806,37.539170,병원
88,KCDMMPO22N000000089,삼성정형외과,정형외과,서울특별시,강남구,청담동,1168010400,127.044728,37.518101,병원
...,...,...,...,...,...,...,...,...,...,...
182098,KCDMMPO22N000182099,더행복한치과의원,치과,서울특별시,강서구,염창동,1150010100,126.875242,37.549839,병원
182099,KCDMMPO22N000182100,열린치과의원,치과,서울특별시,도봉구,방학동,1132010600,127.034753,37.668047,병원
182105,KCDMMPO22N000182106,자연과한의원,한의원,서울특별시,강동구,성내동,1174010800,127.123783,37.538048,병원
182111,KCDMMPO22N000182112,경희태강한의원,한의원,서울특별시,송파구,오금동,1171011200,127.126737,37.508718,병원
182112,KCDMMPO22N000182113,형강한의원,한의원,서울특별시,강동구,성내동,1174010800,127.133981,37.526615,병원

In [42]:
medi.drop(['CL_NM'], axis=1, inplace=True)

### 열 이름 변경

In [43]:
medi.columns

Index(['ID', 'POI_NM', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_NM',
       'LEGALDONG_CD', 'LC_LO', 'LC_LA', 'CL_NM_CTG'],
      dtype='object')

In [44]:
medi.columns = [
    'mediid',
    'mediname',
    'medisido',
    'medisigngu',
    'medidong',
    'medidongcode',
    'medilo',
    'medila',
    'meditype',
]

In [45]:
medi.columns

Index(['mediid', 'mediname', 'medisido', 'medisigngu', 'medidong',
       'medidongcode', 'medilo', 'medila', 'meditype'],
      dtype='object')

In [46]:
medi.to_csv('../../data/물놀이/Medi.csv', index=False, encoding='utf-8')
medi.to_csv('../../data/물놀이/Medi_euc.csv', index=False, encoding='euc-kr')

## 안전시설_경찰및소방 데이터 전처리
- 경찰 데이터만 가져오기

In [47]:
# 안전시설_경찰및소방 데이터
SAFE112 = pd.read_csv('../../raw_data/안전시설_경찰및소방.csv')
safe112 = SAFE112.copy()
safe112.head()

,ID,LCLAS_NM,MLSFC_NM,FCLTY_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,ADSTRD_CD,ADSTRD_NM,...,CMPTNC_HDQT_NM,CMPTNC_DEPT_NM,CMPTNC_BHF_NM,LC_LO,LC_LA,TEL_NO,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KC484PC22N000001,안전시설,소방,세곡119안전센터,서울특별시,강남구,1.168011e+09,율현동,1.168070e+09,세곡동,...,서울,NaN,NaN,965266.0,1941320.0,02-451-0882,20221231,행정안전부,KC_484_DMSTC_MCST_SFFC_2022,20221231
1,KC484PC22N000002,안전시설,소방,마곡119안전센터,서울특별시,강서구,1.150010e+09,마곡동,1.150062e+09,공항동,...,서울,NaN,NaN,940003.0,1950949.0,02-6981-5190,20221231,행정안전부,KC_484_DMSTC_MCST_SFFC_2022,20221231
2,KC484PC22N000003,안전시설,소방,북아현119안전센터,서울특별시,서대문구,1.141011e+09,북아현동,1.141056e+09,북아현동,...,서울,NaN,NaN,951931.0,1951395.0,02-6981-5559,20221231,행정안전부,KC_484_DMSTC_MCST_SFFC_2022,20221231
3,KC484PC22N000004,안전시설,소방,서창119안전센터,인천광역시,남동구,2.820010e+09,서창동,2.820066e+09,서창2동,...,인천,NaN,NaN,933778.0,1936211.0,032-870-5259,20221231,행정안전부,KC_484_DMSTC_MCST_SFFC_2022,20221231
4,KC484PC22N000005,안전시설,소방,소래119안전센터,인천광역시,남동구,2.820011e+09,논현동,2.820071e+09,논현고잔동,...,인천,NaN,NaN,931015.0,1932209.0,032-432-0440,20221231,행정안전부,KC_484_DMSTC_MCST_SFFC_2022,20221231

In [48]:
safe112 = safe112[[
    'ID',
    'MLSFC_NM',
    'FCLTY_NM',
    'CTPRVN_NM',
    'SIGNGU_NM',
    'LEGALDONG_CD',
    'LEGALDONG_NM',
    'FCLTY_LO',
    'FCLTY_LA',
]]

In [49]:
safe112

,ID,MLSFC_NM,FCLTY_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,FCLTY_LO,FCLTY_LA
0,KC484PC22N000001,소방,세곡119안전센터,서울특별시,강남구,1.168011e+09,율현동,127.107195,37.470442
1,KC484PC22N000002,소방,마곡119안전센터,서울특별시,강서구,1.150010e+09,마곡동,126.820719,37.555936
2,KC484PC22N000003,소방,북아현119안전센터,서울특별시,서대문구,1.141011e+09,북아현동,126.955739,37.560660
3,KC484PC22N000004,소방,서창119안전센터,인천광역시,남동구,2.820010e+09,서창동,126.751573,37.422679
4,KC484PC22N000005,소방,소래119안전센터,인천광역시,남동구,2.820011e+09,논현동,126.720720,37.386407
...,...,...,...,...,...,...,...,...,...
2184,KC484PC22N002185,경찰,상산지구대,충청북도,진천군,4.375025e+09,진천읍 교성리,127.439528,36.853292
2185,KC484PC22N002186,경찰,덕산지구대,충청북도,진천군,4.375025e+09,덕산읍 용몽리,127.506709,36.912662
2186,KC484PC22N002187,경찰,이월파출소,충청북도,진천군,4.375035e+09,이월면 송림리,127.429223,36.932276
2187,KC484PC22N002188,경찰,광혜원파출소,충청북도,진천군,4.375037e+09,광혜원면 광혜원리,127.443283,36.989670
2188,KC484PC22N002189,경찰,초평파출소,충청북도,진천군,4.375032e+09,초평면 용정리,127.523446,36.845612

In [50]:
# 서울특별시로 필터링
safe112 = safe112[safe112['CTPRVN_NM'] == '서울특별시']

# 경찰로 필터링
safe112 = safe112[safe112['MLSFC_NM'] == '경찰']

In [51]:
safe112.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 1240 to 1482
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            243 non-null    object
 1   MLSFC_NM      243 non-null    object
 2   FCLTY_NM      243 non-null    object
 3   CTPRVN_NM     243 non-null    object
 4   SIGNGU_NM     243 non-null    object
 5   LEGALDONG_CD  243 non-null    float64
 6   LEGALDONG_NM  243 non-null    object
 7   FCLTY_LO      243 non-null    float64
 8   FCLTY_LA      243 non-null    float64
dtypes: float64(3), object(6)
memory usage: 19.0+ KB

In [52]:
safe112

,ID,MLSFC_NM,FCLTY_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,FCLTY_LO,FCLTY_LA
1240,KC484PC22N001241,경찰,교남파출소,서울특별시,종로구,1.111018e+09,행촌동,126.962199,37.571814
1241,KC484PC22N001242,경찰,장안1파출소,서울특별시,동대문구,1.123011e+09,장안동,127.065005,37.569634
1242,KC484PC22N001243,경찰,신풍지구대,서울특별시,영등포구,1.156013e+09,신길동,126.912787,37.499090
1243,KC484PC22N001244,경찰,화곡지구대,서울특별시,강서구,1.150010e+09,화곡동,126.849656,37.551558
1244,KC484PC22N001245,경찰,마곡지구대,서울특별시,강서구,1.150010e+09,마곡동,126.824231,37.567244
...,...,...,...,...,...,...,...,...,...
1478,KC484PC22N001479,경찰,대치지구대,서울특별시,강남구,1.168011e+09,대치동,127.062618,37.494874
1479,KC484PC22N001480,경찰,수서파출소,서울특별시,강남구,1.168012e+09,수서동,127.104813,37.489128
1480,KC484PC22N001481,경찰,대왕파출소,서울특별시,강남구,1.168011e+09,세곡동,127.107362,37.465176
1481,KC484PC22N001482,경찰,일원지구대,서울특별시,강남구,1.168011e+09,일원동,127.083374,37.492416
1482,KC484PC22N001483,경찰,개포지구대,서울특별시,강남구,1.168010e+09,개포동,127.051168,37.479778

### 열 이름 변경

In [53]:
safe112.columns

Index(['ID', 'MLSFC_NM', 'FCLTY_NM', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_CD',
       'LEGALDONG_NM', 'FCLTY_LO', 'FCLTY_LA'],
      dtype='object')

In [54]:
safe112.columns = [
    'safe112id',
    'safe112subtype',
    'safe112name',
    'safe112sido',
    'safe112signgu',
    'safe112dongcode',
    'safe112dong',
    'safe112lo',
    'safe112la',
]

In [55]:
safe112.columns

Index(['safe112id', 'safe112subtype', 'safe112name', 'safe112sido',
       'safe112signgu', 'safe112dongcode', 'safe112dong', 'safe112lo',
       'safe112la'],
      dtype='object')

In [56]:
safe112.to_csv('../../data/물놀이/Safe112.csv', index=False, encoding='utf-8')
safe112.to_csv('../../data/물놀이/Safe112_euc.csv', index=False, encoding='euc-kr')

## 물놀이_서울시 소방서,안전센터,구조대 위치정보 데이터 전처리

In [57]:
# 안전시설_경찰및소방 데이터
SAFE119 = pd.read_csv('../../raw_data/물놀이/물놀이_서울시 소방서,안전센터,구조대 위치정보.csv', encoding='euc-kr')
safe119 = SAFE119.copy()
safe119.drop(['연번', '도서지역포함여부', '상위서ㆍ센터ID', '일련번호'], axis=1, inplace=True)
safe119.head()

    서ㆍ센터ID       서ㆍ센터명     유형구분명            X좌표            Y좌표
0  1109101   종암119안전센터  안전센터/구조대  202791.964410  555883.199566
1  1109201         구조대  안전센터/구조대  202816.893698  555864.515385
2  1109000       성북소방서       소방서  202804.149036  555873.759988
3  1107102  청량리119안전센터  안전센터/구조대  204625.889568  554177.418851
4  1125104  삼각산119안전센터  안전센터/구조대  201365.268795  557807.800170

In [58]:
safe119 = safe119.rename(columns = {
    '서ㆍ센터ID' : 'ID',
    '서ㆍ센터명' : 'FCLTY_NM',
    '유형구분명' : 'MLSFC_NM',
    'X좌표' : 'FCLTY_LO',
    'Y좌표' : 'FCLTY_LA',
})

In [59]:
safe119

          ID    FCLTY_NM  MLSFC_NM       FCLTY_LO       FCLTY_LA
0    1109101   종암119안전센터  안전센터/구조대  202791.964410  555883.199566
1    1109201         구조대  안전센터/구조대  202816.893698  555864.515385
2    1109000       성북소방서       소방서  202804.149036  555873.759988
3    1107102  청량리119안전센터  안전센터/구조대  204625.889568  554177.418851
4    1125104  삼각산119안전센터  안전센터/구조대  201365.268795  557807.800170
..       ...         ...       ...            ...            ...
172  1104105  을지로119안전센터  안전센터/구조대  201067.709808  551909.115167
173  1104106   신당119안전센터  안전센터/구조대  200851.615888  550378.679780
174  1118102   천호119안전센터  안전센터/구조대  211611.030868  548796.754605
175  1111105   수락119안전센터  안전센터/구조대  204916.952875  564450.212535
176  1111106   공릉119안전센터  안전센터/구조대  207126.864141  557723.271586

[177 rows x 5 columns]

In [60]:
safe119.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        177 non-null    int64
 1   FCLTY_NM  177 non-null    object
 2   MLSFC_NM  177 non-null    object
 3   FCLTY_LO  177 non-null    float64
 4   FCLTY_LA  177 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 7.0+ KB

In [61]:
# !pip install pyproj
# !pip install folium

In [62]:
# 좌표 변환
# ITRF2000_MTM -> WGS84
import numpy as np
import pyproj
import folium

def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

In [63]:
# numpy 객체로 변환
safe119_num = np.array(safe119[['FCLTY_LO', 'FCLTY_LA']])
safe119_num

array([[202791.96441 , 555883.199566],
       [202816.893698, 555864.515385],
       [202804.149036, 555873.759988],
       [204625.889568, 554177.418851],
       [201365.268795, 557807.80017 ],
       [182606.229718, 552851.948292],
       [194220.384553, 552477.264721],
       [194337.769825, 552637.43659 ],
       [197483.52718 , 548286.905824],
       [197475.760054, 548278.773217],
       [197492.982375, 548295.293122],
       [192720.098964, 543910.662103],
       [192707.366436, 543910.39901 ],
       [192731.619759, 543910.747374],
       [206275.599323, 546084.18538 ],
       [205752.840089, 554569.378351],
       [186559.884642, 545696.92461 ],
       [189510.674   , 553380.006   ],
       [195879.738232, 547839.353145],
       [188708.935882, 547859.288574],
       [194994.665719, 560097.888963],
       [198175.282415, 545201.810745],
       [203074.046656, 565427.99142 ],
       [195129.5919  , 539763.996002],
       [205362.468104, 548633.010661],
       [207654.218093, 551938.090568],
       [203136.056917, 551389.954027],
       [202151.581836, 550503.687507],
       [203498.410303, 550472.82107 ],
       [203478.783062, 550454.881512],
       [203491.170697, 550460.99593 ],
       [206799.957194, 550240.668816],
       [205355.390754, 547981.180542],
       [207312.919673, 549483.162122],
       [207318.936583, 549481.433528],
       [207305.85009 , 549485.438586],
       [209487.114956, 541229.377681],
       [199041.962913, 551037.287609],
       [184158.529106, 550727.285551],
       [215876.128779, 550883.694238],
       [210400.25    , 549496.7     ],
       [202367.981   , 560953.287   ],
       [203372.13415 , 559271.253735],
       [203369.039207, 559276.675604],
       [203375.742707, 559265.794952],
       [196444.779849, 550061.600108],
       [199314.856   , 552411.268   ],
       [198136.562279, 552591.178035],
       [198138.078279, 552597.225035],
       [194253.575398, 555729.368964],
       [192919.990743, 558806.002047],
       [194824.205   , 542949.9     ],
       [210034.273092, 544119.029971],
       [195187.580532, 549133.379208],
       [191021.316925, 542757.691769],
       [191526.842142, 546560.60757 ],
       [191529.161142, 546547.26857 ],
       [191531.848142, 546551.60057 ],
       [205904.581   , 545647.847   ],
       [205898.612736, 545643.352934],
       [205916.577   , 545650.852   ],
       [185588.494   , 550648.753   ],
       [191092.141   , 548448.622   ],
       [202439.136823, 543179.172556],
       [194344.558   , 552625.207   ],
       [191440.251002, 552344.461752],
       [211043.487669, 547760.417187],
       [207055.481   , 552592.482   ],
       [208881.69428 , 555365.984824],
       [213423.652215, 543861.499547],
       [211038.268134, 547762.820365],
       [213433.650253, 550859.468033],
       [211367.262365, 550503.158476],
       [211050.113382, 547757.015008],
       [203608.2024  , 565323.0406  ],
       [207004.399   , 555658.693   ],
       [201690.034   , 555917.924   ],
       [205140.282775, 557337.141595],
       [201461.941319, 560141.801092],
       [202500.723258, 557825.97995 ],
       [206278.710106, 559835.894278],
       [203797.4045  , 562711.422384],
       [206323.823   , 561714.886221],
       [195785.50152 , 541613.179889],
       [203265.811458, 546962.399786],
       [195784.878412, 541621.210326],
       [191196.721148, 538802.571413],
       [198957.096   , 541787.001   ],
       [201028.564   , 544400.945   ],
       [195787.34536 , 541603.890006],
       [192577.709214, 541810.021306],
       [190995.083363, 540948.686163],
       [196541.317287, 556245.859267],
       [199288.375854, 544328.95152 ],
       [193636.43027 , 546419.55176 ],
       [199560.747414, 546816.073163],
       [199278.084714, 544329.038   ],
       [199298.791236, 544328.239766],
       [188078.71896 , 544268.360247],
       [184928.501118, 544104.905711],
       [188088.240258, 544276.083358],
       [187170.299497, 545059.572936],
       [189498.033217, 545329.641595],
       [191515.084635, 544212.25613 ],
       [189614.793247, 543865.664911],
       [188070.360402, 544260.2451  ],
       [192920.226024, 558822.396153],
       [189711.097195, 549259.306221],
       [186823.715234, 546934.949194],
       [202109.104433, 542354.506176],
       [203613.476013, 541114.323624],
       [203753.15647 , 544189.667732],
       [204412.66247 , 541694.956875],
       [208212.231587, 542833.343865],
       [208302.374   , 545320.129   ],
       [194095.41467 , 549987.080533],
       [194096.039456, 549994.811236],
       [195326.174   , 555461.456   ],
       [194095.11878 , 549980.752357],
       [192535.006676, 550091.368532],
       [192111.068864, 556161.096981],
       [192315.279035, 553702.713182],
       [190277.697367, 553969.308159],
       [197355.385811, 553858.943221],
       [212603.372133, 544480.378632],
       [212614.459192, 544505.431922],
       [208374.710284, 557311.397392],
       [208386.844717, 557306.933865],
       [208363.812014, 557316.991744],
       [212759.620217, 549059.38613 ],
       [202803.9241  , 553146.122419],
       [201923.625434, 553134.912754],
       [205889.340299, 551610.215893],
       [199630.19    , 548320.599   ],
       [198137.489279, 552586.338035],
       [196090.627492, 551239.350965],
       [198527.946267, 550963.424019],
       [199377.795682, 551402.010068],
       [198043.853832, 549932.898804],
       [192982.685318, 548340.968633],
       [183596.698667, 553377.373508],
       [186322.63379 , 549360.274919],
       [188693.987219, 547861.547362],
       [187654.5746  , 550953.980786],
       [187651.133145, 550956.011809],
       [187658.90185 , 550951.765371],
       [188725.07649 , 547857.620893],
       [181216.795568, 550582.333417],
       [185250.497673, 547617.070838],
       [193765.929731, 544396.440962],
       [193119.817284, 545662.289193],
       [193277.796396, 543359.948592],
       [195310.039   , 546021.914   ],
       [196604.194   , 543927.68    ],
       [200165.572204, 553318.267372],
       [192919.608208, 558814.957158],
       [204979.683283, 558801.248664],
       [206275.370194, 559844.466718],
       [203796.218382, 562701.15355 ],
       [203798.8262  , 562723.214319],
       [206281.603696, 559826.656828],
       [192449.03919 , 559344.824903],
       [203860.745   , 560793.12    ],
       [212608.797541, 544491.365081],
       [212076.601   , 546709.149   ],
       [205894.612127, 551617.005848],
       [204062.571611, 552975.774611],
       [201275.52941 , 554600.664887],
       [205884.309562, 551602.754964],
       [201360.354374, 551703.857707],
       [201359.582724, 551696.224578],
       [201360.606251, 551712.169655],
       [201067.709808, 551909.115167],
       [200851.615888, 550378.67978 ],
       [211611.030868, 548796.754605],
       [204916.952875, 564450.212535],
       [207126.864141, 557723.271586]])

In [64]:
# 좌표계 정보 설정
p1_type = "epsg:5186"
p2_type = "epsg:4326"

# project_array() 함수 실행
result = project_array(safe119_num, p1_type, p2_type)
result

array([[127.0316175 ,  37.60252105],
       [127.03189974,  37.60235263],
       [127.03175545,  37.60243596],
       [127.05237494,  37.58714472],
       [127.01546453,  37.61986471],
       [126.80309737,  37.57504972],
       [126.93457584,  37.57181992],
       [126.93590338,  37.57326379],
       [126.97152836,  37.53407957],
       [126.97144051,  37.53400627],
       [126.97163531,  37.53415517],
       [126.91767778,  37.49462419],
       [126.9175338 ,  37.49462172],
       [126.91780806,  37.49462505],
       [127.07098397,  37.51421511],
       [127.06513749,  37.59066989],
       [126.8479847 ,  37.51064938],
       [126.88124996,  37.57991197],
       [126.95338544,  37.53004135],
       [126.87225841,  37.53016108],
       [126.94328845,  37.64048548],
       [126.97936261,  37.5062844 ],
       [127.03485208,  37.68851716],
       [126.94495209,  37.45727819],
       [127.06067405,  37.53718582],
       [127.08663867,  37.56694833],
       [127.03549493,  37.56203609],
       [127.02434972,  37.55405368],
       [127.0395918 ,  37.55377145],
       [127.03936959,  37.55360989],
       [127.03950981,  37.55366493],
       [127.0769535 ,  37.55166132],
       [127.06058922,  37.53131287],
       [127.08275102,  37.54483228],
       [127.08281909,  37.54481665],
       [127.08267105,  37.54485284],
       [127.10724715,  37.4704456 ],
       [126.98915708,  37.55886342],
       [126.82071566,  37.55593469],
       [127.17967996,  37.55734332],
       [127.11768656,  37.5449246 ],
       [127.02683253,  37.64820305],
       [127.03820322,  37.63304506],
       [127.03816818,  37.63309392],
       [127.03824408,  37.63299586],
       [126.95976727,  37.55006614],
       [126.99224436,  37.57124317],
       [126.97890594,  37.57286252],
       [126.97892309,  37.57291701],
       [126.93492605,  37.60112134],
       [126.91979445,  37.62883213],
       [126.94147807,  37.48598184],
       [127.11347186,  37.49647579],
       [126.94554624,  37.54169717],
       [126.89848179,  37.48422091],
       [126.90415375,  37.51849013],
       [126.90418014,  37.51836997],
       [126.90421048,  37.51840902],
       [127.06678384,  37.51028613],
       [127.0667163 ,  37.51024568],
       [127.06691955,  37.51031313],
       [126.83690063,  37.55525058],
       [126.89921364,  37.53549706],
       [127.02757971,  37.48805888],
       [126.93598032,  37.57315365],
       [126.90310683,  37.57060174],
       [127.12493915,  37.52927325],
       [127.07986782,  37.57284914],
       [127.10057408,  37.59782237],
       [127.15179561,  37.4941124 ],
       [127.12488013,  37.52929496],
       [127.15203657,  37.55716388],
       [127.12864458,  37.55398134],
       [127.12501406,  37.52924251],
       [127.04090757,  37.68756964],
       [127.07931888,  37.60047584],
       [127.01913881,  37.60283659],
       [127.05822114,  37.61561078],
       [127.01656421,  37.64089359],
       [127.02832599,  37.62002612],
       [127.07113692,  37.63811713],
       [127.04303903,  37.66403874],
       [127.07166431,  37.65504622],
       [126.95235495,  37.47394276],
       [127.03694385,  37.5221434 ],
       [126.95234786,  37.47401511],
       [126.90051224,  37.44858657],
       [126.98820969,  37.47551792],
       [127.01163185,  37.49906978],
       [126.95237585,  37.47385906],
       [126.91608879,  37.47569613],
       [126.89820728,  37.46792136],
       [126.96083056,  37.60578631],
       [126.99195244,  37.49842142],
       [126.92801809,  37.51723617],
       [126.99503113,  37.52083067],
       [126.99183606,  37.49842219],
       [126.99207022,  37.49841501],
       [126.86518667,  37.49779884],
       [126.82956551,  37.49628008],
       [126.86529422,  37.49786854],
       [126.85489993,  37.50491552],
       [126.88122199,  37.50737825],
       [126.90404784,  37.49733129],
       [126.88256321,  37.49418908],
       [126.86509228,  37.49772561],
       [126.91979695,  37.62897984],
       [126.88357675,  37.54278694],
       [126.85094658,  37.5218078 ],
       [127.02384562,  37.48062938],
       [127.04084803,  37.46945056],
       [127.0424427 ,  37.49715911],
       [127.04988579,  37.47467865],
       [127.09285312,  37.48490967],
       [127.09390038,  37.50731493],
       [126.93318124,  37.54938267],
       [126.93318825,  37.54945232],
       [126.94707413,  37.59871354],
       [126.93317795,  37.54932565],
       [126.91552197,  37.55031099],
       [126.91065914,  37.60499529],
       [126.91299758,  37.58284721],
       [126.88992563,  37.58522995],
       [126.97005847,  37.5842831 ],
       [127.14253045,  37.49970007],
       [127.14265626,  37.49992565],
       [127.09485538,  37.61535507],
       [127.09499277,  37.61531474],
       [127.09473201,  37.61540557],
       [127.14437691,  37.54095479],
       [127.03174246,  37.57786016],
       [127.02177681,  37.57776142],
       [127.06665926,  37.56400716],
       [126.99581591,  37.5343865 ],
       [126.97891645,  37.57281892],
       [126.95575323,  37.56067621],
       [126.98333966,  37.55819723],
       [126.99295767,  37.56214984],
       [126.97786357,  37.54891132],
       [126.92060487,  37.53454342],
       [126.81429796,  37.57980192],
       [126.84523309,  37.54365264],
       [126.87208926,  37.53018125],
       [126.86027789,  37.55803065],
       [126.8602389 ,  37.5580489 ],
       [126.8603269 ,  37.55801075],
       [126.87244104,  37.53014625],
       [126.78742678,  37.55457344],
       [126.83313633,  37.5279299 ],
       [126.92950007,  37.49900874],
       [126.92218148,  37.5104095 ],
       [126.92398933,  37.48966645],
       [126.94695174,  37.51366346],
       [126.96159962,  37.49479997],
       [127.00187444,  37.57941543],
       [126.91979003,  37.62891281],
       [127.05641209,  37.62880308],
       [127.07109916,  37.63819439],
       [127.04302553,  37.66394623],
       [127.04305521,  37.66414498],
       [127.07116963,  37.63803388],
       [126.91445374,  37.6336831 ],
       [127.04374678,  37.64675492],
       [127.14259199,  37.49979899],
       [127.13660985,  37.51978838],
       [127.06671899,  37.56406831],
       [127.04599032,  37.57632064],
       [127.01444245,  37.59096887],
       [127.06660226,  37.56393997],
       [127.01539753,  37.56486869],
       [127.01538878,  37.56479991],
       [127.01540039,  37.56494358],
       [127.01208545,  37.56671843],
       [127.0096377 ,  37.55292948],
       [127.13137634,  37.53860366],
       [127.05573948,  37.67969957],
       [127.0807258 ,  37.61907652]])

In [65]:
safe119['FCLTY_LO'] = result[:, 0]
safe119['FCLTY_LA'] = result[:, 1]
safe119

          ID    FCLTY_NM  MLSFC_NM    FCLTY_LO   FCLTY_LA
0    1109101   종암119안전센터  안전센터/구조대  127.031617  37.602521
1    1109201         구조대  안전센터/구조대  127.031900  37.602353
2    1109000       성북소방서       소방서  127.031755  37.602436
3    1107102  청량리119안전센터  안전센터/구조대  127.052375  37.587145
4    1125104  삼각산119안전센터  안전센터/구조대  127.015465  37.619865
..       ...         ...       ...         ...        ...
172  1104105  을지로119안전센터  안전센터/구조대  127.012085  37.566718
173  1104106   신당119안전센터  안전센터/구조대  127.009638  37.552929
174  1118102   천호119안전센터  안전센터/구조대  127.131376  37.538604
175  1111105   수락119안전센터  안전센터/구조대  127.055739  37.679700
176  1111106   공릉119안전센터  안전센터/구조대  127.080726  37.619077

[177 rows x 5 columns]

### 열 이름 변경

In [66]:
safe119.columns

Index(['ID', 'FCLTY_NM', 'MLSFC_NM', 'FCLTY_LO', 'FCLTY_LA'], dtype='object')

In [67]:
safe119.columns = [
    'safe119id',
    'safe119name',
    'safe119subtype',
    'safe119lo',
    'safe119la',
]

In [68]:
safe119.columns

Index(['safe119id', 'safe119name', 'safe119subtype', 'safe119lo', 'safe119la'], dtype='object')

In [69]:
safe119.to_csv('../../data/물놀이/Safe119.csv', index=False, encoding='utf-8')
safe119.to_csv('../../data/물놀이/Safe119_euc.csv', index=False, encoding='euc-kr')

## 전국주차장 데이터 전처리

In [70]:
# 전국주차장 데이터
PARKING = pd.read_csv('../../raw_data/전국주차장.csv', encoding='utf-8')
parking = PARKING.copy()
parking = parking[[
    'ID',
    'FCLTY_NM',
    'CTPRVN_NM',
    'SIGNGU_NM',
    'LEGALDONG_CD',
    'LEGALDONG_NM',
    'RDNMADR_NM',
    'FCLTY_LO',
    'FCLTY_LA',
    'FLAG_NM',
    'PARKNG_SPCE_CO',
    'UTILIIZA_LMTT_FLAG_NM',
    'WKDAY_NM',
    'WORKDAY_OPN_BSNS_TIME',
    'WORKDAY_CLOS_TIME',
    'SAT_OPN_BSNS_TIME',
    'SAT_CLOS_TIME',
    'SUN_OPN_BSNS_TIME',
    'SUN_CLOS_TIME',
    'UTILIIZA_CHRGE_CN',
]]
parking.head()

,ID,FCLTY_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_CD,LEGALDONG_NM,RDNMADR_NM,FCLTY_LO,FCLTY_LA,FLAG_NM,PARKNG_SPCE_CO,UTILIIZA_LMTT_FLAG_NM,WKDAY_NM,WORKDAY_OPN_BSNS_TIME,WORKDAY_CLOS_TIME,SAT_OPN_BSNS_TIME,SAT_CLOS_TIME,SUN_OPN_BSNS_TIME,SUN_CLOS_TIME,UTILIIZA_CHRGE_CN
0,KC490PC22N000001,산성동제3노상,대전,중구,3014011700,산성동,대전광역시 중구 보문산로 31,127.384820,36.306733,공영,43,미시행,평일+토요일+공휴일,0:00,23:59,0:00,23:59,0:00,23:59,무료
1,KC490PC22N000002,산성동제5노상,대전,중구,3014011700,산성동,대전광역시 중구 유등천동로 292번길 89-14,127.390817,36.308676,공영,84,미시행,평일+토요일+공휴일,0:00,23:59,0:00,23:59,0:00,23:59,무료
2,KC490PC22N000003,산성동제13노상,대전,중구,3014011700,산성동,대전광역시 중구 유등천동로 218,127.382729,36.303426,공영,15,미시행,평일+토요일+공휴일,0:00,23:59,0:00,23:59,0:00,23:59,무료
3,KC490PC22N000004,산성동 제8노상,대전,중구,3014011700,산성동,대전광역시 중구 문화로45번길 15-1,127.390470,36.311296,공영,36,미시행,평일+토요일+공휴일,0:00,23:59,0:00,23:59,0:00,23:59,무료
4,KC490PC22N000005,산성동 제10노상,대전,중구,3014011700,산성동,대전광역시 중구 산성로57번길 16,127.394738,36.308085,공영,6,미시행,평일+토요일+공휴일,0:00,23:59,0:00,23:59,0:00,23:59,무료

In [71]:
# 서울특별시로 필터링
parking = parking[parking['CTPRVN_NM'] == '서울특별시']

In [72]:
# parking.info()

In [73]:
# 좌표 없는 데이터 삭제
parking.dropna(subset=['FCLTY_LO','FCLTY_LA'], inplace=True)

In [74]:
# 법정동 코드 없는 데이터 삭제
parking.dropna(subset=['LEGALDONG_CD'], inplace=True)

### 열 이름 변경

In [75]:
parking.columns

Index(['ID', 'FCLTY_NM', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_CD',
       'LEGALDONG_NM', 'RDNMADR_NM', 'FCLTY_LO', 'FCLTY_LA', 'FLAG_NM',
       'PARKNG_SPCE_CO', 'UTILIIZA_LMTT_FLAG_NM', 'WKDAY_NM',
       'WORKDAY_OPN_BSNS_TIME', 'WORKDAY_CLOS_TIME', 'SAT_OPN_BSNS_TIME',
       'SAT_CLOS_TIME', 'SUN_OPN_BSNS_TIME', 'SUN_CLOS_TIME',
       'UTILIIZA_CHRGE_CN'],
      dtype='object')

In [76]:
parking.columns = [
    'parkingid',
    'parkingname',
    'parkingsido',
    'parkingsigngu',
    'parkingdongcode',
    'parkingdong',
    'parkingaddrnew',
    'parkinglo',
    'parkingla',
    'parkingtype',
    'parkingspceco',
    'parkingutiliizalmttflagnm',
    'parkingwkdaynm',
    'parkingworkdayopnbsnstime',
    'parkingworkdayclostime',
    'parkingsatopnbsnstime',
    'parkingsatclostime',
    'parkingsunopnbsnstime',
    'parkingsunclostime',
    'parkingutiliizachrgecn',
]

In [77]:
parking.columns

Index(['parkingid', 'parkingname', 'parkingsido', 'parkingsigngu',
       'parkingdongcode', 'parkingdong', 'parkingaddrnew', 'parkinglo',
       'parkingla', 'parkingtype', 'parkingspceco',
       'parkingutiliizalmttflagnm', 'parkingwkdaynm',
       'parkingworkdayopnbsnstime', 'parkingworkdayclostime',
       'parkingsatopnbsnstime', 'parkingsatclostime', 'parkingsunopnbsnstime',
       'parkingsunclostime', 'parkingutiliizachrgecn'],
      dtype='object')

In [78]:
parking.to_csv('../../data/물놀이/Parking.csv', index=False, encoding='utf-8')
parking.to_csv('../../data/물놀이/Parking_euc.csv', index=False, encoding='euc-kr')